@use '../../scss/co';
@use '../../scss/MainStyle.scss';


.container-Card {
    margin: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;

    @include MainStyle.for-size(small) {
        display: flex;
        margin: inherit;
        height: 465px;
    }

    & .section1-card {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 300px;

        @include MainStyle.for-size(small) {
            display: inherit;
            justify-content: inherit;
            padding: 10px;
        }

        & .title {
            font-size: 0.8rem;
            font-weight: 700;
            color: co.$Orange;
            letter-spacing: 1.4px;

            @include MainStyle.for-size(small) {
                margin: 0 0 10px 0;
            }

        }

        & h1 {
            font-size: 2.5rem;

            @include MainStyle.for-size(small) {
                font-size: 1.9rem;
            }
        }

        & .parr {
            margin-top: 20px;
            line-height: 25px;
            font-size: 1.1rem;
            font-weight: 500;

            color: co.$Darkgrayishblue;
        }

    }

    .section2-card {

        display: flex;
        flex-direction: column;

        @include MainStyle.for-size(small) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin: 0 15px 15px;

        }

        & .card {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;

            & h3 {
                font-size: 1.7rem;
            }

            & p {
                font-weight: 700;
                color: co.$Orange;
                background-color: co.$Paleorange;
                padding: 2px 5px;
                border-radius: 5px;
            }
        }

    }

    & .oldprice {
        color: co.$Grayishblue;
        text-decoration: line-through;
        font-weight: 700;
        margin: 10px 0 30px;

        @include MainStyle.for-size(small) {
            margin: unset;
        }
    }
}