@use '../../scss/co';
@use '../../scss/MainStyle.scss';

.container-modal {
    display: initial;
    position: relative;
    top: 180px;
    right: -130px;
    width: 350px;
    height: 270px;
    max-height: 300px;
    border-radius: 10px;
    transform: translateX(30%);
    background-color: co.$Lightgrayishblue;
    -webkit-box-shadow: 16px 3px 42px -2px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 16px 3px 42px -2px rgba(0, 0, 0, 0.26);
    box-shadow: 16px 3px 42px -2px rgba(0, 0, 0, 0.26);

    @include MainStyle.for-size(small) {
        position: absolute;
        right: 155%;
        top: 155%;
        width: 95vw;
        z-index: 100;
     }

    &.__block {
        display: block;
    }

    &.__hidden {
        display: none;
    }

    & .title {
        display: flex;
        align-items: center;
        font-size: 0.7rem;
        height: 70px;
        border-bottom: 1px solid co.$Grayishblue ;

        & h2 {
            margin-left: 15px;
        }
    }

    & .container-empty {

        &.__block {
            display: block;
        }

        &.__hidden {
            display: none;
        }

        & .empty-support {
            display: flex;
            height: 180px;
            justify-content: center;
            align-items: center;

            & .empty {
                width: 150px;
                font-weight: 700;
                color: co.$Darkgrayishblue;
            }
        }

    }

    & .store {

        &.__block {
            display: block;
        }

        &.__hidden {
            display: none;
        }

        & .store_organization {
            padding: 20px;
            display: flex;
            gap: 15px;
            align-items: center;


            & .shoes {
                width: 50px;
                border-radius: 5px;
            }

            & .info {

                & .title1 {
                    margin-bottom: 5px;
                    color: co.$Darkgrayishblue;
                }

                & .title2 {
                    color: co.$Darkgrayishblue;

                }
            }

            & .trash {
                width: 15px;
                cursor: pointer;
            }

        }

        & .cheackout {
            cursor: pointer;
            margin: 15px 20px;
            width: 310px;
            height: 55px;
            background-color: co.$Orange;
            color: co.$Lightgrayishblue;
            font-weight: 700;
            border-radius: 10px;
            border: none;

            &:hover{
                background-color: co.$OrangeSelect;
            }

        }

    }


}