@use '../../scss/co';
@use '../../scss/MainStyle.scss';

.header-logo-links {
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 120px;
    border-bottom: 1px solid co.$Grayishblue;
    justify-content: space-between;

    @include MainStyle.for-size(small) {
        padding: 0 10px;
        height: 70px;
    }


    & .container-nav {
        display: flex;
        flex-direction: row;
        gap: 50px;
        align-items: center;

        & .links {
            display: flex;
            gap: 20px;
            margin-left: 10px;

            @include MainStyle.for-size(small) {
                display: none;
            }

            & a {
                border-bottom: 2px solid transparent;
                text-decoration: none;
                color: co.$Darkgrayishblue;
                font-weight: 500;
                height: 70px;
                translate: 0 35%;

                &:hover {
                    border-bottom: 4px solid orange;
                    color: co.$Veryvarkblue;
                    transition: all 0.6s;
                }
            }

        }
    }

    & .container_cart_avatar {
        position: relative;
        display: flex;
        align-items: center;
        gap: 50px;

        @include MainStyle.for-size(small) {
            gap: 15px;
        }

        & .popUp {
            position: absolute;
            top: 10px;
            left: 10px;
            background-color: co.$Orange;
            color: co.$White;
            font-weight: 500;
            padding: 0 4px;
            width: 15px;
            font-size: 0.7rem;
            display: grid;
            place-content: center;
            padding: 0 10px;
            border-radius: 60%;
            z-index: 10;

            @include MainStyle.for-size(small) {
                top: 1px;
            }
        }

        & .cart {
            &:hover {
                filter: invert(64%) sepia(61%) saturate(4127%) hue-rotate(347deg) brightness(102%) contrast(101%);
                cursor: pointer;
            }
        }

        & .avatar {
            width: 50px;
            border: 3px solid transparent;

            @include MainStyle.for-size(small) {
                width: 35px;
            }

            &:hover {
                border-radius: 50%;
                border: 3px solid orange;
            }
        }
    }

}