@use '../../scss/co';
@use '../../scss/MainStyle.scss';

.container-emptyPage {

    max-width: 1240px;

    & .emptyPage{

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 220px;
        padding: 100px;

        @include MainStyle.for-size(small) {
            flex-direction: column;
            padding: 0;
            gap: 150px;

            & h1{
                text-align: center;
                margin-top: 100px;
            }
        }

        
        & button {
            cursor: pointer;
            margin: 15px 20px;
            width: 310px;
            height: 55px;
            background-color: co.$Orange;
            color: co.$Lightgrayishblue;
            font-weight: 700;
            border-radius: 10px;
            border: none;
    
            &:hover{
                background-color: co.$OrangeSelect;
    
            }
        }
    }


}