$Orange: hsl(26, 100%, 55%);
$OrangeSelect: hsl(26, 95%, 50%);
$Paleorange: hsl(25, 100%, 94%);
$Veryvarkblue: hsl(220, 13%, 13%);
$Darkgrayishblue: hsl(219, 9%, 45%);
$Grayishblue: hsl(220, 14%, 75%);
$Lightgrayishblue: hsl(234, 36%, 95%);
$White: hsl(0, 0%, 100%);
$Black: hsl(0, 0%, 0%);

