@use '../../scss/co';

.container-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;


    & .cotainer-imgPrincipal {
        margin-top: 80px;

        & .imgPricipal {
            width: 420px;
            border-radius: 10px;
            cursor: pointer;
        }
    }

    & .container-thumbail {

        display: flex;
        gap: 20px;

        & .imgThumbail {
            width: 90px;
            outline: 3px solid transparent;
            border-radius: 10px;
            cursor: pointer;

            &:hover {
                outline: 3px solid co.$Orange;
                filter: opacity(60%);
            }
        }
    }

    & .container-displayOver {
        position: absolute;
        left: 35%;
        display: grid;
        place-content: center;

        & .container-imgPrincipal {

            & .imgPrincipal {
                width: 500px;
                border-radius: 10px;
            }

        }

        & .container-thumbail {
            display: flex;
            justify-content: center;
            gap: 20px;
        }

    }
}