@use '../../scss/co';

.container-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: -10;


    & .cotainer-imgPrincipal{
        margin-top: 80px;
        flex: 1;

        & .imgPricipal {
            width: 420px;
            border-radius: 10px;
            cursor: pointer;
        }
    }

    & .container-thumbail {

        display: flex;
        gap: 20px;
        z-index: -1;

        & .imgThumbail {
            width: 90px;
            outline: 3px solid transparent;
            border-radius: 10px;
            cursor: pointer;

            &:hover {
                outline: 3px solid co.$Orange;
                filter: opacity(50%);
            }
        }
    }

    & .container-displayOver::after{
        display: grid;
        place-content: center;
        z-index: 1000;
    }

}