@use '../../scss/co';

.container-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    & .cotainer-imgPrincipal {
        margin-top: 80px;
        flex: 1;

        & .imgPricipal {
            width: 420px;
            border-radius: 10px;
        }

    }

    & .container-thumbail {

        display: flex;
        gap: 20px;

        & .imgThumbail {
            width: 90px;
            outline: 3px solid transparent;
            border-radius: 10px;
            cursor: pointer;


            &:hover {
                outline: 3px solid co.$Orange;
                filter: opacity(50%);

            }
        }

    }



}